.user-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #f8f8f8;
  fill: white;
}

.user-container {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 15px;
  color: #cbd5e1;
  border-bottom: 1px solid #404856;
  border-top: 1px solid #404856;
  background-color: #2d384b;
}

.user-text-container {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-email {
  font-size: 0.9rem;
  color: #a0aec0;
  margin-top: 4px;
}
