/* SideBarUser.css */

.user-picture {
  width: var(--user-picture-size);
  height: var(--user-picture-size);
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--color-text-primary);
  fill: var(--color-text-primary);
}

.user-container {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 15px;
  color: var(--color-text-secondary);
  border-bottom: 1px solid var(--color-border-light);
  border-top: 1px solid var(--color-border-light);
  background-color: var(--color-bg-sidebar);
}

.user-text-container {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-role {
  font-size: 0.9rem;
  color: var(--color-text-tertiary);
  margin-top: 4px;
}
