/* ======= CABECERA ======= */
.table-header {
  background-color: var(--color-bg-body); /* mismo fondo que la página */
  border-bottom: black 2px solid;
}

.MuiTableCell-root {
  border-bottom: none !important; /* eliminar líneas entre celdas */
}

.table-header .MuiTableCell-root {
  color: #ffffff; /* texto blanco */
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 12px;
}

.table-body .MuiTableCell-root {
  color: var(--color-text-secondary); /* texto blanco */
  font-weight: 100;
}

.table-row {
  background-color: var(--color-bg-card);
  color: #ffffff; /* texto blanco */
  font-size: 1rem;
}

.table-cell {
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
}

/* ======= ESTADOS ======= */
.estado-tag {
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  font-size: 0.85rem;
}

/* Colores por estado */
.estado-abierto {
  background-color: #2563eb; /* azul */
}

.estado-en-progreso {
  background-color: #f59e0b; /* naranja */
}

.estado-resuelto {
  background-color: #22c55e; /* verde */
}

.estado-cerrado {
  background-color: #6b7280; /* gris */
}
