/* ======= CABECERA ======= */
.table-header {
  background-color: rgba(10, 18, 32, 0.7);
  border-bottom: 1px solid var(--color-border-light);
}

.MuiTableCell-root {
  border-bottom: none !important; /* eliminar líneas entre celdas */
}

.table-header .MuiTableCell-root {
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 14px;
}

.table-body .MuiTableCell-root {
  color: var(--color-text-secondary);
  font-weight: 450;
}

.table-row {
  background-color: var(--color-bg-card);
  color: var(--color-text-primary);
  font-size: 1rem;
}

.table-row:hover {
  background-color: #1e304e;
}

.table-cell {
  padding: 10px;
  color: var(--color-text-primary);
  font-weight: 500;
}

/* ======= ESTADOS ======= */
.estado-tag {
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  font-size: 0.85rem;
}

/* Colores por estado */
.estado-abierto {
  background-color: #2563eb; /* azul */
}

.estado-en_progreso {
  background-color: #f59e0b; /* naranja */
}

.estado-resuelto {
  background-color: #22c55e; /* verde */
}

.estado-cerrado {
  background-color: #6b7280; /* gris */
}

.estado-disponible {
  background-color: #22c55e;
}

.estado-en_uso {
  background-color: #2563eb;
}

.estado-inactivo {
  background-color: gray;
}

.estado-danado {
  background-color: red;
}

.estado-admin {
  background-color: red;
}

.estado-user {
  background-color: #2563eb;
}

.estado-mantenimiento {
  background-color: #f59e0b;
}

.estado-dañado {
  background-color: red;
}
