.pag-averias-container {
  padding: 20px;
  background-color: var(--color-background-secondary);
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.header-container h1 {
  font-size: 2rem;
  color: var(--color-text-primary);
}

.selects-container {
  display: flex;
  gap: 15px;
}

.table-container {
  background-color: var(--color-bg-card);
  border-radius: var(--border-radius-card);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}
